<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600&family=Work+Sans:wght@400;600;700;800&display=swap');
</style>


body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* navbar style starts here */
.anyseason-logo{
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: 2rem;
    width: 50%;
    
}
.anyseason-logo img{
    width: 90px;
    object-fit: cover;
}
.travel{
    color: coral;
}
.navbar{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    
    
}
.menubar{
    text-decoration: none;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
/* navbar style ends here */
/* banner style sterts here */
.banner-text{
    color: white;
    max-width: 1250px;
    margin: 0 auto;
    min-height: 500px;
    background-size: relative;
    background-repeat: no-repeat;
    
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
}
.banner-text h1{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 3rem;
    padding-top: 150px;
}
.banner-text p{
    justify-content: center;
    align-items: center;
    display: flex;
}
/* banner style ends here */
.banner-input{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
}
.input{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: none;
    text-size-adjust: 12px;
    padding-left: 5px;
}
.banner-input>button, .Our-Popular-Tours-text>button{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: 7px;
    color:  white;
    background-color: #FF5400;
     
}

/* Our-Popular-Tours starts here  */
.Our-Popular-Tours{
    display: flex;
    margin: 50px;
    max-width: 1200px;
    
}
.Our-Popular-Tours-text{
    padding: 30px;
    
}

/* Our-Popular-Tours endss here  */
/* Choose-Your-Destination starts here  */
.Choose-Your-Destination>h1{
    justify-content: center;
    display: flex;
   
}

.Choose-Your-Destination>p{
    justify-content: center;
    display: flex;
   
}
.Choose-Your-Destination-images{
    display: grid;
}
.image-container{
    max-width: 1200px;
    padding: 0 35px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}
.image-container img{
    width: 100%;
    gap: 10px;
    object-fit: cover;
}
.grid-item-1{
    grid-column: 1/7;
    grid-row: 1/1;
}
.grid-item-2{
    grid-column: 7/13;
    grid-row: 1/1;
}
.grid-item-3{
    grid-column: 1/5;
    grid-row: 2/2;
}
.grid-item-4{
    grid-column: 5/10;
    grid-row: 2/2;
}
.grid-item-5{
    grid-column: 10/13;
    grid-row: ;
}
.grid-item-6{
    grid-column: 1/6 ;
    grid-row: 3/3;
}
.grid-item-7{
    grid-column: 6/13;
    grid-row: 3/3 ;
}
/* Choose-Your-Destination ends here  */
/* Why-Choose-us starts here  */
.Why-Choose-us{
    max-width: 1200px;
    padding: 0 35px;
    
}
.Why-Choose-us-text>h1{
    justify-content: center;
    display: flex;
}
.Why-Choose-us-text>p{
    justify-content: center;
    display: flex;
}
/* Why-Choose-us ends here  */
.Why{
    margin: 0 35px;
    display: flex;
    padding-left: 10px;
    gap: 10px;
    max-width: 1200px;
    border-radius: 5%;
}
.hotel-icon{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 247, 232);
    display: inline;
    height: 250px;
    border-radius: 10px;
    
}
.map-icon{
    width: 50%;
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216, 230, 235);
    display: inline;
    border-radius: 10px;
    
}

.new-why{
    margin: 0 35px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    gap: 10px;
    max-width: 1200px;
    border-radius: 5%;
}
.price-tag-icon{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    display: inline;
    height: 250px;
    border-radius: 10px;
    
}
.perfect-place{
    display: flex;
    margin: 50px;
    max-width: 1200px;
    
}
.Our-Popular-Tours-text{
    padding: 30px;
    
}

.Our-Popular-Tours-imgl{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
/* Newsletter-section starts here  */
.Newsletter-section{
    display: flex;
    margin: 50px;
    max-width: 1200px;
    gap: 10px;
    
    
}
.Newsletter-text{
    min-width: 48%;  
    border: 1px solid orangered;
    border-radius: 5px; 

}
.Newsletter-text>button{
    width: 408px;
    height: 2rem;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 80px;
    background-color: #FF5400;
    border: none;
}
.in{
    width: 400px;
    height: 2rem; 
    margin-top: 15px;
    margin-left: 80px;
    border-radius: 5px;
    border: none;
    background-color: rgba(19, 19, 24, 0.05);
}
.newsletter-image{
    min-width: 48%;
   
}
.hrq{
    max-width: 70%;
}
.Newsletter-text h1 p{
    padding-left: 30px;
}



/* footer-section starts here  */
.footer{
    background-color: rgba(19, 19, 24, 0.05);
    max-width: 1200px;
    width: 1440px;
    height: 502px;
    padding: 0 35px;
}
.anyseason-logo-footer{
    justify-content: center;
    display: flex;
    padding-top: 100px;

}
..anyseason-logo-footer>p{
    font-size: 5rem;
}
.anyseason-logo-footerp{
    justify-content: center;
    display: flex;
    padding-top: 10

}
.anyseason-logo-footeri{
    justify-content: center;
    display: flex;
    padding-top: 10

}
/* footer-section ends here  */
/* Newsletter-section ends here  */

/* responsive for mobile starts here */
@media screen and (max-width: 600);{
   .navbar{
        flex-direction: column;
        
    }
    .menubar{
        flex-direction: column;
    }

}


/* responsive for mobile ends here */